<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391610566299-v5u2lofq1tnfvp6bokq8h36g4ibpgg6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391610566299-v5u2lofq1tnfvp6bokq8h36g4ibpgg6c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391610566299-v2iukoaa3kav3mm8nqb0fouhfsufjk2k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiUq1B35Ymn3GIfMtwWytnzoLJhKcunDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>391610566299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminBusSystemManagement</string>
	<key>PROJECT_ID</key>
	<string>bus-system-management</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-system-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391610566299:ios:345098a5ad2bd890fc283e</string>
	<key>DATABASE_URL</key>
	<string>https://bus-system-management-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>